*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    overflow-x: hidden;
    background-color: #F0F0F0;
}
.nav{
    height: 70px;
    width:100%;
    background-color: white;
    display: flex;
    z-index: 10;
    position: relative;
    /* position: fixed; */
}
.logo{
    margin-top: 25px;
    margin-left: 12%;
    width: 105px;
    height: 20px;
}
ul{
    display: flex;
    list-style: none;
    margin-left: 20%;
    margin-top: 25px;
}
li{
    margin-left: 32px;
}
a{
    text-decoration: none;
    color: rgb(171, 169, 169);
    font-size: 18px;
}
a:hover{
    color: #71CE7C;
    text-decoration: underline;
}
.btn{
    height: 50%;
    width: 10%;
    background: linear-gradient(135deg, #71CE7C 10%, #1fc1de);
    margin-left: 17%;
    margin-top: 15px;
    border-radius: 100px;
    padding-left: 30px;
    padding-top: 7px;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    
}
.btn:hover{
    color: rgb(3, 3, 64);
}

.box{
    position: relative;
    width: 100%;
    height: 60rem;
    background-color: #FAFAFA; 

}
.box > div > svg{
    position: absolute;
    top: -30rem;
    right: -0rem;
    width: 800px; 
    height: 900px; 
    background-size: cover; 
    background-position: center center; 
}
.logo1{
    position: absolute;
    top: -12rem;
    left: 60%;
    width: 45%; 
    overflow-y: hidden;
}
.main-content{
    float: left;
    font-size: 30px;
    padding-top: 170px;
    padding-left: 20rem;
    font-family:cursive;
}
.btn1{
    font-size: 20px;
    color: rgb(180, 179, 179);
    padding-top: 20px;
}
h2{
    height: 38px;
    width: 40%;
    background: linear-gradient(135deg, #71CE7C 10%, #1fc1de);
    color: white;
    font-weight: bolder;
    font-size: 17px;
    border-radius: 100px;
    padding-top: 8px;
    padding-left: 39px;
    margin-top: 30px;
}
h2:hover{
   color:rgb(3, 3, 64) ;
}
.box1{
    background-color:#F0F0F0;
}
.btn2{
    font-size: 2.8rem;
    color: rgb(159, 155, 155);
    padding-top: 20px;
    margin-left: 20rem;
}
.bullets{
    width: 80%;
    height: 30rem;
    /* background-color: #2D314E; */
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
}
.icon{
    display: flex;
}
.icon1{
    height: 30rem;
    width:25rem;
    /* background-color: #1fc1de; */
    margin-left: 8rem;
    /* padding-bottom: 10%; */
}
.icon-title{
    font-size: 2rem;
    padding-top: 20px;
}
.icon-description{
    font-size: 170%;
    padding-top: 30px;
    color:rgb(159, 155, 155);
    font-family: 'Times New Roman', Times, serif;
}
.box2{
    width: 100%;
    height: 70rem;
    background-color:#FAFAFA;
}
h4{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding-top: 10rem;
    margin-left: 20rem;
}
.img-tag{
    width: 80%;
    display: flex;
    /* background-color: #1fc1de; */
    margin-left: 12rem;
    /* padding-left: 10px; */
}
.img1{
    height: 43rem;
    width: 30rem;
    margin-left: 5rem;
    /* padding-left: 10px; */
    margin-top: 10px;
    border-radius: 5px;
    /* background-color: #d42626; */
}
.img-tag1{
    
    height: 20rem;
    width: 30rem;
    border-radius: 5px;
}
.img-tag2{

    height: 18rem;
    width: 25rem;
    border-radius: 5px;
    
}
.author-name{
   font-size: 12px; 
   color: rgb(159, 155, 155); 
   padding-top: 25px;
   padding-left: 15px;
}
.img-title{
    font-size: 20px;
    padding-left: 15px;
    padding-top: 20px;
}
.description{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px; 
    color: rgb(159, 155, 155);
    padding-left: 15px;
}
.footer{
    width: 100%;
    background-color: #2D314E;
    display: flex;
}
.footer1{
    height:10rem;
    width: 50%;
    /* background-color: #172ee0; */
    margin-top: 30px;
    margin-left: 20rem;
}
.footerlogo{
    padding-top: 20px; 
    
}
.footer-icons{
    padding-top: 20px;
    display: flex;
    gap:1rem;
}
.footer-icons > svg {
    fill: white;
}

.footer-icons > svg:hover {
    fill:#71CE7C;
}

.footer2{
    width: 40%;
    margin-left: 5rem;
    margin-top: 1rem;
}
.footer3{
    width: 60%;
    margin-left: 10rem;
    margin-top: 1rem;

}
.footer4{
    width: 70%;
    margin-left: 30rem;
    margin-top: 1rem;
    padding-left: 50px;
    /* background-color: #172ee0; */
}

.about{
    color: white;
    padding-top: 15px;
    font-size: 18px;
    margin-left: 60px;
}
.about:hover{
  color: #71CE7C;

}
.last{
    height: 37px;
    width: 45%;
    background: linear-gradient(135deg, #71CE7C 10%, #1fc1de);
    color: white;
    font-weight: bolder;
    font-size: 17px;
    border-radius: 100px;
    padding-top: 8px;
    padding-left: 15px;
    margin-top: 8%;
}
.last:hover{
    color: rgb(3, 3, 64);
}
.last1{
    color: rgb(197, 195, 195);
    font-size: 15px;
    margin-top: 1rem;
    margin-right: 10px;
}
#hamburger-menu {
    display: none;
  }
  
  .menu-button-container {
    display: none;
    cursor: pointer;
    user-select: none;
  }
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(251, 251, 251);
    font-size: 1.5rem;
    width: 80%;
    position: absolute;
    top: 4.5rem;
    gap: 1rem;
    padding: 2rem 0;
    border-radius: 1rem;
    box-shadow: 0 3rem 5rem 2rem #00000054;
    margin: 1rem;
  }
  .menu > .nav-link {
    font-size: 18px;
    font-weight: 300;
  }







/* responsive design   */

@media Screen and (max-width: 360px){
   
    .nav ul, .btn{
        display: none;
        width: 100%;
        height: auto;
        
    }
    .nav{
        justify-content: space-around;
        align-items: center;
        gap: 10rem;
        padding: 1.5rem 0;
    }
   
    #hamburger-menu:checked ~ .menu {
        display: flex;
        align-items: right;
        width: 90%;
        margin-left: 5%;
        margin-top: 4rem;
        justify-content: center;
      }
      .menu-button-container {
        display: block;
        padding-top: 3rem;
        padding-left: 5rem;
        
      }

      .menu > .nav-link {
        display: flex;
        justify-content: center;
        margin-left: 0;
      }
      /* .li{
      } */
      .menu a {
        color: rgb(51, 189, 39);
      }
    
      .menu a:visited {
        color: rgb(10, 10, 10);
      }
    
      .menu a:hover {
        color: rgb(119, 218, 127);
      }
  
    .box{
        flex-direction: column-reverse;
        background-image: url('/images/bg-intro-mobile.svg');
        background-repeat: no-repeat ;
        background-position: -6rem -8rem;
        background-size: 10%;
        height: 105vh;
    }
    .box > div > svg{
        height: 900px;
        width: 500px;
        right: 0;
        top: -50rem;
    }
    
   .logo1{
    top: -40;
    left: 0;
    width: 100%;
   }
    .box .main-content{
        margin-top: 70%;
        text-align: center;
        padding-left: 15px;
        font-family: 'Times New Roman', Times, serif;
    }
    .box .btn1{
        margin-top: 10%;
        font-size: 15px;
    }
    .box h2{
        margin-left: 30%;
        padding-right: 3%;
        padding-left: 1px;
    }

    .box1{
        height: 150rem;
    }
    .box1 h4{
        width:60%;
        text-align: center;
       margin-left: 8rem;
    
    }
    .box1 .btn2{
    
        width:60%;
        margin-left: 8rem;
        font-size: 1.5rem;
        text-align: center;
    }
    .bullets{
        align-items: center;
        margin-left: 5%;
    }
    .icon {
        flex-direction: column;
        width:60%;
        align-items: center;
    }

    .icon-img{
        align-items: center;
        margin-left: 50%;
        margin-top: 50px;
        margin-bottom: 1px;
    }
    .icon-title{
        width: 60%;
        margin-left: 38%;
        align-items: center;
    }
    .icon-description{
        margin-left: 10%;
        align-items: center;
        margin-top: 1px;
        font-size: 2rem;
    }
    .box2{
        height: 200rem;
    }
    .box2 h4{
        width:70%;
        text-align: center;
       margin-left: 5rem;
    }
    .img-tag{
        align-items: center;
        flex-direction: column;
        margin-left: -3%;
        margin-top: 20px;
    }
    .img1{
        width:90%;
        align-items: center;
    }
    footer{
        height: 120%;
        width: 100%;
        flex-direction: column;
    }
    .footer1{
        margin-left: 30%;
        margin-top: 0%;
    }
    .footer2{
        margin-left: 23%; 
        margin-top: 3px;
    }
    .footer3{
        margin-top: 3px;
        margin-left: 23%; 
    }
    .footer4{
        margin-top: 5px;
        margin-left: 18%; 

    }
    .footer4 .last{
        width: 80%;
        padding-left: 30px;
        margin-left: -2rem; 
    }
    .footer4 .last1{
        margin-left: -4rem; 
    }
  
}
   
